USE [master]
GO
/****** Object:  Database [YashenGarage]    Script Date: 7/16/2020 9:06:28 PM ******/
CREATE DATABASE [YashenGarage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YashenGarage', FILENAME = N'C:\Users\Yashen\YashenGarage.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YashenGarage_log', FILENAME = N'C:\Users\Yashen\YashenGarage_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YashenGarage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YashenGarage]
GO
USE [YashenGarage]
GO
/****** Object:  Table [dbo].[Estimation_List]    Script Date: 7/16/2020 9:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estimation_List](
	[Detail_ID] [int] IDENTITY(1,1) NOT NULL,
	[Master_ID] [int] NULL,
	[Description] [varchar](max) NULL,
	[Price] [numeric](18, 2) NULL,
 CONSTRAINT [PK_Estimation_List] PRIMARY KEY CLUSTERED 
(
	[Detail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estimation]    Script Date: 7/16/2020 9:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estimation](
	[Estimation_ID] [int] IDENTITY(1,1) NOT NULL,
	[Licence_Plate] [varchar](15) NULL,
	[Estimation_Date] [datetime2](7) NOT NULL,
	[Sub_Total] [numeric](18, 2) NULL,
 CONSTRAINT [PK_Estimation] PRIMARY KEY CLUSTERED 
(
	[Estimation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_All_Estimation]    Script Date: 7/16/2020 9:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[View_All_Estimation]
as
select m.*,d.* from Estimation m inner join Estimation_List d
on m.Estimation_ID=d.Master_ID
GO
/****** Object:  Table [dbo].[Bill_List]    Script Date: 7/16/2020 9:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill_List](
	[Detail_ID] [int] IDENTITY(1,1) NOT NULL,
	[Detail_Name] [varchar](max) NULL,
	[Price] [numeric](18, 2) NULL,
	[Master_Bill_No] [int] NULL,
 CONSTRAINT [PK_Bill_List] PRIMARY KEY CLUSTERED 
(
	[Detail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Invoive]    Script Date: 7/16/2020 9:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Invoive](
	[Bil_No] [int] IDENTITY(1,1) NOT NULL,
	[Bill_Date] [date] NULL,
	[Total_Cost] [numeric](18, 2) NULL,
	[NIC] [varchar](15) NULL,
	[Vehicle_LP] [varchar](50) NULL,
 CONSTRAINT [PK_Job_Invoive] PRIMARY KEY CLUSTERED 
(
	[Bil_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 7/16/2020 9:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [varchar](20) NULL,
	[Password] [varchar](10) NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 7/16/2020 9:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[Vehicle_LP] [varchar](15) NOT NULL,
	[Brand] [varchar](50) NULL,
	[Accident_Date] [date] NULL,
	[Insurance] [varchar](50) NULL,
	[NIC] [varchar](15) NULL,
 CONSTRAINT [PK_Vehicle] PRIMARY KEY CLUSTERED 
(
	[Vehicle_LP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle_Owner]    Script Date: 7/16/2020 9:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle_Owner](
	[NIC] [varchar](15) NOT NULL,
	[Owner_Name] [varchar](50) NULL,
	[Address] [varchar](150) NULL,
	[Contact_No] [varchar](11) NULL,
	[Email] [varchar](50) NULL,
	[Date] [datetime2](7) NULL,
 CONSTRAINT [PK_Vehicle_Owner] PRIMARY KEY CLUSTERED 
(
	[NIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Estimation] ADD  CONSTRAINT [DF_Estimation_Estimation_Date]  DEFAULT (getdate()) FOR [Estimation_Date]
GO
ALTER TABLE [dbo].[Job_Invoive] ADD  CONSTRAINT [DF_Job_Invoive_Bill_Date]  DEFAULT (getdate()) FOR [Bill_Date]
GO
ALTER TABLE [dbo].[Vehicle_Owner] ADD  CONSTRAINT [DF_Vehicle_Owner_Date]  DEFAULT (getdate()) FOR [Date]
GO
USE [master]
GO
